<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        <div id="wrapper">
            <div class="changebox">
                <div class="inchangebox">
                    <li><a href="/">登録業務一覧</a></li>
                                      
                </div>
            </div>
            
            <div id="rightColumn">
                <br>
                <div class="jobs-index-item">
                    <% @jobs.each do |job| %>
                        <a class="index-item-link" href="<%= "/jobs/show/#{job.id}" %>"><%= job.start %>　～　<%= job.finish %>　　　　　　　　　　　　　　　　<%= job.user.name %></a><br>
                        <a><%= job.description.truncate(25) %></a><br>
                        <a><a class="gray">場所：</a><%= job.place.truncate(25) %></a>
                    <% end %>
                </div>
            </div>
            
        </div>
    </body>


