<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        <div id="wrapper">
            <% if @error_message %>
                <div class="form-error">
                    <%= @error_message %>
                </div>
            <% end %>
            
            <br><br>
            <%= form_tag("/control/update/#{@user.id}") do %>
                <input class="signup_name" placeholder="名前" name="name" value="<%= @user.name %>"><br><br>
                <a>部署</a><br>
                <% @user.departments.each do |department|%>
                    <i class="link">　<%= department.department %> <%= department.position %>　　　　　　<a><%= link_to("変更","/depa/edit/#{department.id}") %>　　<%= link_to("削除","/destroy/#{department.id}", {method: "post"}) %></a></i><br>
                <% end %>
                
                <br>
                <a>部署追加</a><br>
                <input class=signup name="department5">
                <input class=signup name="position5"><br>
                
                <br>
                <a>住所</a><br>
                <input class="signup_address" name="address" value="<%= @user.address %>"><br>
                
                <input class="button_signup" type="submit" value="変更">
            <% end %>
        </div>
    </body>


