<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        <div id="wrapper">
            <br>
            <% @user.errors.full_messages.each do |message| %>
                <div class="form-error">
                <%= message %>
                </div>
            <% end %>
            
            <%= form_tag("/update") do %>
                <input class="signup_name" placeholder="名前" name="name" value="<%= @user.name %>"><br>
                
                <a>パスワード</a><br>
                <input class=signup placeholder="********" name="password" type="password" value="<%= @user.password %>"><br>
                
                <a>住所</a><br>
                <input class="signup_address" name="address" value="<%= @user.address %>"><br>
                
                
                <input class="button_signup" type="submit" value="変更">
            <% end %>
        </div>
    </body>


