<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        <div id="wrapper">
            <div class="changebox">
                <div class="inchangebox">
                    <% if @current_user.authority == 1 %>
                        有給残り　<i class="holi_sum"><%= @current_user.paidholi_sum %></i>　日
                        <li><a href="/edit">my情報編集</a></li>
                        <li><a href="/index">社員一覧</a></li>
                        <li><a href="/attend/index">勤怠管理</a></li>
                        <li><a href="/signup">新入社員登録</a></li>
                    <% else %>
                        有給残り　<i class="holi_sum"><%= @current_user.paidholi_sum %></i>　日
                        <li><a href="/edit">編集</a></li>
                        <li><a href="<%= "/index/#{@current_user.id}" %>">職務一覧</a></li>
                    <% end %>                    
                </div>
            </div>
            
            <h1><%= @current_user.name %></h1>
            <% @current_user.departments.each do |department| %>
                <a><%= department.department %> <%= department.position %></a><br>
            <% end %>
            <p><%= @current_user.address %></p>
            
            <div class="attend-input">
                <%= link_to("/clockon", {method: "post"}) do %>
                    <button class="start">出勤</button>
                <% end %>　　　　　
                <%= link_to("/clockout", {method: "post"}) do %>
                    <button class="finish">退勤</button>
                <% end %>
                <br><br>
                <a>※日付を忘れずに入力してください</a><br>
                <%= form_tag("/remark", {method: :post}) do %>
                    <input type=date name="date" value="<%= Date.today %>"><br>
                    <input type="radio" name="remark" value="有給(1日)">有給(1日)<br>
                    <input type="radio" name="remark" value="有給(半日)">有給(半日)<br>
                    <input type="radio" name="remark" value="フレックス">フレックス<br>
                    <input type="radio" name="remark" value="遅刻">遅刻<br>
                    <input type="radio" name="remark" value="早退">早退<br>
                    <input type="radio" name="remark" value="全休">全休<br>
                    <input type="radio" name="remark" value="半休">半休<br>
                    
                    <input class="radio-input" type="submit" value="登録">
                <% end %>
            </div>
            
            <table border="1px" cellpadding="10px" style="border-collapse: collapse;">
                <tr bgcolor="silver">
                    <th>日付</th>
                    <th>始業時刻</th>
                    <th>終業時刻</th>
                    <th>　　備考　　</th>
                </tr>
                <% i=1 %>
                <% @attends.each do |attend| %>
                    <tr>
                        <% if attend.remark == "有給(1日)" || attend.remark == "全休" %>
                            <td bgcolor="mistyrose"><%= attend.date %></td>
                            <td bgcolor="mistyrose"></td>
                            <td bgcolor="mistyrose"></td>
                            <td bgcolor="mistyrose"><%= attend.remark %></td>
                        <% elsif attend.remark == "有給(半日)" || attend.remark == "半休" %>
                            <td><%= attend.date %></td>
                            <td>
                                <% if attend.start != nil %>
                                    <%= show_time(attend[:start]) %>
                                <% end %></td>
                            <td>
                                <% if attend.finish == nil %>
                                    <%= show_time(attend[:finish]) %>
                                <% end %></td>
                            <td bgcolor="mistyrose"><%= attend.remark %></td>
                        <% else %>
                            <td><%= attend.date %></td>
                            <td><%= show_time(attend[:start]) %></td>
                            <td>
                                <% if attend.finish != nil %>
                                    <%= show_time(attend[:finish]) %></td>
                                <% end %></td>
                            <td>
                                <% if attend.remark != nil %>
                                    <%= attend.remark %>
                                <% end %></td>
                        <% end %>
                        <td class="attend-destroy"><a><%= link_to("削除","/attend/destroy/#{attend.id}", {method: :post}) %></a></td>
                    </tr>
                    <% i+=1 %>
                    <% if i > 10 %>
                        <% break %>
                    <% end %>
                <% end %>
            </table>
            
        </div>
    </body>


