<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        <div id="wrapper">
            <div class="changebox">
                <div class="inchangebox">
                    <li><a href="/index">社員一覧</a></li>
                                      
                </div>
            </div>
            
            <h1><%= @user.name %></h1>
            <a><%= p format("%04d",@user.number) %></a><br>
            <% @user.departments.each do |department| %>
                <i class="link"><%= department.department %> <%= department.position %>　　　　　　<a><%= link_to("変更","/depa/edit/#{department.id}") %>　　<%= link_to("削除","/destroy/#{department.id}", {method: "post"}) %></a></i><br>
            <% end %>
            <p><%= @user.address %></p>
            
            
        </div>
    </body>


